html {
    scroll-behavior: smooth;
}

p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

h1 {
    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: clamp(1.8, 5vw, 3rem);
    
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

body {
    background-color: hsl(120, 75%, 58%);
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

section{
    padding:clamp(1rem, 4vw, 2.5rem) ;
}

.barra {
    display: flex;
    background-color: hsl(120, 65%, 58%);
    justify-content: space-between;
    flex-direction: row;
    width: clamp(300px, 100%, 1400px);
    height: auto;
}

.logo {

    height: 100px;
    width: 100px;
}

.botones {
    display: flex;
}

.bot {

    height: 70%;
    width: 10vw;
    background-color: hsl(120, 55%, 58%);
    border-radius: 5%;
    color: black;
    border: solid;
    padding: max(0.75rem,2vh);
}

.what {
    display: flex;
    position: sticky;
}

@media(width<=767px) {
    .barra {
        flex-direction: column;
    }

    .botones {
        flex-direction: column;
    }

}

.divheader {
    background-color: hsl(120, 57%, 41%);
    display: flex;
    text-align: center;
    height: auto;

}

.imagenheader {
    height: auto;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.conheader {
    width: min(100%, 900px);
    padding: min(4rem, 8vw);
    gap: max(2rem, 4vw);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.h2header {

    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    color: hsl(0, 0%, 0%);
}

.h3header {
    font-size: xx-large;
    color: hsl(120, 100%, 13%);
}

.h2header:hover {
    box-shadow: 0 8px 16px hsl(120, 25%, 18%);
    transform: scale(1.30);
    border-radius: 8px;
    border: solid black;
}

.sectionservi {
    display: flex;
    padding: min(2rem, 6vw);
    gap: clamp(0.5rem, 2vw, 2rem);
    flex-wrap: wrap;
    justify-content: center;
}

.divser {

    justify-content: center;
    padding: 4vw;
    margin: 4vw;
    background-color: hsl(120, 75%, 48%);
    height: 25vw;
    width: 20vw;
    border: 1px solid hsl(120, 25%, 48%);
    border-radius: 8px;
}

h3 {
    color: hsl(120, 85%, 18%);
    text-align: center;
    font-size: x-large;
}

.logo {
    justify-content: center;
    align-items: stretch;

}

.textoservi {
    font-size: medium;
    text-align: center;
}

.divser:hover {
    box-shadow: 0 8px 16px hsl(120, 25%, 18%);
    transform: scale(1.10);
}

.secescudos {
    background-color: hsl(120, 55%, 38%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 30vw;
    width: clamp(300px, 100%, 1400px);
}

.sectionprom {
    display: flex;
    background-color: hsl(120, 57%, 41%);

}

.secprom {
    justify-content: baseline;
    width: clamp(300px, 90%, 800px);
    border-radius: 8px;
    border: solid hsl(120, 47%, 31%);
}

.secprom:hover {
    box-shadow: 0 8px 16px hsl(120, 25%, 18%) inset;
    transform: scale(1.03);
    transform: translate(10px, -20px);
}
.fot{
    display: flex;
    width: clamp(300px, 90%, 1400px);
    height:auto;
    background-color:hsl(120, 47%, 31%);
    flex-wrap: wrap;
    justify-content: space-between;
    padding:clamp(1rem, 4vw, 2.5rem) ; 
}

.fotos{
    display: flex;
    width: 12rem;
    height: 12rem;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    border: 2px solid hsl(120, 97%, 31%);    
}

.quienes{
  background-color: hsl(120, 55%, 38%);
  text-align: center;
  font-size: 1.5rem;
}

.reco{
    display: flex;
    width: 60rem;
    height: 10rem;
    justify-content:space-evenly;
    background-color: hsl(120, 75%, 58%);

}
.recomendacion{
    width: 100%;
    height: 6rem;
    border-radius: 5%;
    background-color: grey;
    font-size: 1.5rem;
    padding: max(0.75rem,2vh);
}

.tray{
      background-color: hsl(120, 55%, 38%);
      text-align: center;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: auto;
      width: auto;

      
}

.fotovideo{
    width: auto;
    height: 6rem;
    background-color: hsl(120, 55%, 38%); 
     height: auto;
      width: auto;
      border-radius: 5px;
      border:solid hsl(120, 15%, 38%);

}

.trayecfoto{
     background-color: hsl(120, 55%, 38%);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content:space-around;
       height: auto;
      width: auto;

}
.trayfoto{

      display: flex;
      background-color: hsl(120, 55%, 38%);
      width: 8rem;
      height: 8rem;
      border-radius: 5px;
      border:solid hsl(120, 15%, 38%)

}